/* .contact_element_scroll {
  display: block;
  height: 100%;
overflow: scroll;

} */

/* .contact_element_wrapper {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* overflow: scroll; */
/* } */ 



.contact__list__item__btn {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(181, 4, 4, 0.632);
  text-align: center;
  cursor: pointer;
}

.contact__list__item__btn:hover,
.contact__list__item__btn:focus {
  background-color: rgb(255, 0, 0);
  transform: scale(1.05);
  box-shadow: 0px 4px 6px #de0606c4
  
}
